{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>::Welcome::</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <h3>Welcome {{ username }}</h3>
  <span><a href="{% url 'logout' %}">Logout</a></span><br><br>
  <img src="{% static 'images/library.jpeg' %}"><br>
  <h2>Book List</h2>
  <hr>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Pages</th>
        <th>Publication House</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for book in booklist %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.publicationhouse.name }}</td>
          <td>
            <a href="{% url 'bookdetails' book.id %}">Details</a>
          </td>
          <td>
            {% if book.alreadyissued %}
              <a href="{% url 'returnbook' book.id %}">Return Book</a>
            {% elif book.canbeissued %}
              <a href="{% url 'issuebook' book.id %}">Issue Book</a>
            {% else %}
              Cannot Issue
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>