{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Here</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <img src="{% static 'images/library.jpeg' %}"><br>
  <h2>{{ greetingmsg }}</h2>
  <form method="POST" action="{% url 'auth' %}">
    {% csrf_token %}
    <p>
      <input type="text" placeholder="Enter Username" name="username">
    </p>
    <p>
      <input type="password" placeholder="Enter Password" name="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>
  <a href="{% url 'reg' %}">New User? Sign Up Here!</a>
</body>
</html>