{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>Register Here</title>
</head>
<body>
  <img src="{% static 'images/library.jpeg' %}"><br>
  <form action="{% url 'createuser' %}" method="POST">
    {% csrf_token %}
    <p>
      <input type="text" placeholder="Enter Username" name="username">
    </p>
    <p>
      <input type="password" placeholder="Enter Password" name="password">
    </p>
    <p>
      Country:
      <select name="country">
        {% for country in countries %}
          <option value="{{ country.0 }}">{{ country.1 }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Gender:
      <input type="radio" name="gender" value="M">Male&nbsp;&nbsp;
      <input type="radio" name="gender" value="F">Female
    </p>
    <p>
      <input type="submit" value="Register">
    </p>
  </form>
</body>
</html>