{% extends "libapp/public_layout.html" %}

{% block title %}
  Register Here
{% endblock title %}

{% block content %}
<form action="{% url 'createuser' %}" method="POST">
    {% csrf_token %}
    <p>
      <input type="text" placeholder="Enter Username" name="username">
    </p>
    <p>
      <input type="password" placeholder="Enter Password" name="password">
    </p>
    <p>
      Country:
      <select name="country">
        {% for country in countries %}
          <option value="{{ country.0 }}">{{ country.1 }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Gender:
      <input type="radio" name="gender" value="M">Male&nbsp;&nbsp;
      <input type="radio" name="gender" value="F">Female
    </p>
    <p>
      <input type="submit" value="Register">
    </p>
  </form>
{% endblock content %}
